*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-black: #000;
  --box-shadow-small: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  --box-shadow-medium: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  --box-shadow-big: 0 2rem 4rem rgba(0, 0, 0, 0.2);
  --color-primary-1: #7ed56f;
  --color-primary-2: #44c57a;
  --color-primary-3: #28b485;
  --color-secondary-1: #ffb900;
  --color-secondary-2: #ff7730;
  --color--tertiary--1: #f44881;
  --color--tertiary--2: #f8616a;
  --color--tertiary--3: #ec454f;

  --color-grey-dark-1: #999;
  --color-grey-dark-2: #777;
  --color-grey-dark-3: #333;
}

html {
  font-size: 62.5%;
}

body {
  width: 100vw;
  height: 100vh;
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  background-image: linear-gradient(
    to right bottom,
    var(--color-primary-1),
    var(--color-primary-3)
  );
}

.button {
  background-color: var(--color--tertiary--3);
  color: white;
  border: none;
  border-radius: 3px;
  min-width: 15rem;
  min-height: 5rem;
  padding: 1rem 1.5rem;
  font-size: 1.6rem;
  cursor: pointer;
  transition: all 0.2s;
}

.button:hover {
  background-color: var(--color--tertiary--2);
}

.button:disabled {
  background-color: var(--color--tertiary--2);
  opacity: 0.7;
  cursor: not-allowed;
}

.container {
  width: 100%;
  height: 100%;
  position: relative;
}

.fieldset {
  width: 100%;
  border: none;
  padding: 0 3rem;
}

.fieldset__label {
  display: block;
  font-size: 1.6rem;
  font-weight: 700;
  margin-bottom: 1rem;
  text-align: left;
}

.fieldset__input {
  display: block;
  width: 100%;
  padding: 1.5rem 2rem;
  border: none;
  font-family: inherit;
  font-size: 1.6rem;
  text-align: center;
  border-bottom: 3px solid transparent;
  transition: all 0.2s;
}

.fieldset__input::-webkit-input-placeholder {
  color: var(--color-grey-dark-2);
}

.fieldset__input:focus {
  outline: none;
  border-bottom: 3px solid var(--color-primary-2);
  box-shadow: var(--box-shadow-medium);
}

.form__fieldset-container {
  display: flex;
  width: 100%;
  margin-bottom: 2rem;
}

.form__button-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.form__error-container {
  margin-left: 3rem;
  margin-bottom: 2rem;
}

.form-error {
  text-align: left;
}

.form-error__message {
  font-size: 1.6rem;
  font-weight: bold;
  line-height: 1.2;
  color: var(--color--tertiary--3);
}

.modal-container {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

.modal-container__content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: whitesmoke;
}

.modal {
  width: 50rem;
  height: 25rem;
  padding: 4rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
}

.modal__title {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.modal__subtitle {
  font-size: 1.8rem;
  margin-bottom: 1rem;
}

.modal__button-container {
  display: flex;
  justify-content: space-around;
}

.screen {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  max-width: 80rem;
  min-height: 38rem;
  padding: 2rem;
  background-color: whitesmoke;
  text-align: center;
}

.screen__header-container {
  margin: 3rem 0;
}

.screen__title {
  font-size: 4rem;
  color: var(--color--tertiary--3);
  margin-bottom: 2rem;
}

.screen__subtitle {
  font-size: 1.8rem;
}

.spinner {
  width: 15rem;
  margin: 0 auto;
  text-align: center;
}

.spinner svg {
  fill: white;
  animation: rotate 2s infinite linear;
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}
